*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-color: #050509;
  color: #ffffff;
  font-family: "Figtree", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif;
}
